<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
 <meta charset="UTF-8">
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="css/materialize.min.css"
	media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<header>
		<nav class="blue accent-1">
			<div class="nav-wrapper">
				<a href="/" class="brand-logo">Eventos 2020</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/cadastrar">Cadastrar</a></li>
					<li><a href="/listar">Listar</a></li>
				</ul>
			</div>
		</nav>

	</header>

	

	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>